::first-letter {color: #F00;}
::first-line {font-size: 400%;}
.intro {color: whitesmoke;height: fit-content; border: darkblue;}
.numbered-list {
        color: orangered;
        height: fit-content;
        border: rgb(0, 139, 42);
                }
.links {
        color: darkblue;
        height: fit-content;
        border: darkblue;
    }
.summary {
        color: whitesmoke;
        height: fit-content;
        border: darkblue;
    }
ol {font-size: xx-large; color:darkorange;
    font-family: Georgia;
}
.li {font-family:serif;}
.item1 {
    color:darkblue;
    font-style: italic;}
.item2 { color: blueviolet;
    font-size: larger;}
.item3 {color: aquamarine;}
.item4 {color: #0F0;}
.item7 {
    color: brown;
    font-family: Helvetica;
    font-size: xx-large;}
a {
    font-size: 400%;
    text-decoration: none;
    font-weight: bold;
    }

a:link {
    color: #00F;
}

a:hover {
    color: #F00;
}

a:visited {
    color: yellow;
}

a:active {
    color: #0F0;
}